<div class="uk-container uk-container-center">

    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/list">Hero List</a></li>
        </ul>
    </nav>

    <div class="uk-margin-top">
        <router-outlet></router-outlet>
    </div>

    <div class="uk-block uk-block-default uk-block-primary uk-contrast uk-margin-large-top">
        <div class="uk-container uk-text-center">
            &copy; 2016 ThanBaiKS. UIKit 💖 Angular2
        </div>
    </div>
</div>