<div>
    <h1>Hero dashboard</h1>
    <div class="row">

        <div class="col-sm-4">
            <div class="list-group">
                <a href="javascript:0" class="list-group-item" *ngFor="let hero of heroes" [class.active]="hero==selected" (click)="onSelect(hero)">
                    <span class="badge">{{hero.id}}</span> {{ hero.name }}
                </a>
            </div>
        </div>
        
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Selected hero</h4>
                </div>
                <div class="panel-body">
                    <div *ngIf="!selected">
                        <h3>Choose your hero!</h3>
                    </div>

                    <div *ngIf="selected">
                        <h3>{{selected.name}}</h3>

                        <div class="btn-group btn-group">
                            <button type="button" class="btn btn-primary" [routerLink]="[ '/detail', selected.id ]"><i class="glyphicon glyphicon-pencil"></i> Goto detail</button>
                            <button type="button" class="btn btn-default" (click)="selected = undefined"><i class="glyphicon glyphicon-remove"></i> Deselect</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>