<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:0">{{ title }}</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/list" routerLinkActive="active">Hero List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="auth.loggedIn"><a routerLink="/admin" routerLinkActive="active">Admin area</a></li>
            <li *ngIf="auth.loggedIn"><a href="javascript:0" (click)="doLogout()" routerLinkActive="active">Logout</a></li>
            <li *ngIf="!auth.loggedIn"><a href="javascript:0" (click)="doLogin()" routerLinkActive="active">Login</a></li>
        </ul>
    </div>
</nav>